apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "livy.fullname" . }}
  labels:
    {{- include "livy.labels" . | nindent 4 }}
data:
  livy.conf: |
    livy.spark.master = k8s://https://kubernetes.default.svc.cluster.local:443
    livy.spark.deploy-mode = cluster
    livy.rsc.jars = local:///opt/livy/rsc-jars/asm-5.0.4.jar,local:///opt/livy/rsc-jars/livy-api-0.8.0-incubating-SNAPSHOT.jar,local:///opt/livy/rsc-jars/livy-rsc-0.8.0-incubating-SNAPSHOT.jar,local:///opt/livy/rsc-jars/minlog-1.3.0.jar,local:///opt/livy/rsc-jars/netty-all-4.1.47.Final.jar,local:///opt/livy/rsc-jars/objenesis-2.5.1.jar,local:///opt/livy/rsc-jars/reflectasm-1.11.3.jar
    livy.repl.jars = local:///opt/livy/repl_2.12-jars/commons-codec-1.9.jar,local:///opt/livy/repl_2.12-jars/livy-core_2.12-0.8.0-incubating-SNAPSHOT.jar,local:///opt/livy/repl_2.12-jars/livy-repl_2.12-0.8.0-incubating-SNAPSHOT.jar
    livy.server.kubernetes.allowedNamespaces = {{ .Release.Namespace }}
    livy.server.kubernetes.defaultNamespace = {{ .Release.Namespace }}
  livy-client.conf: |
    #
  spark-blacklist.conf: |
    # Disallow overriding the master and the deploy mode.
    spark.master
    spark.submit.deployMode
    
    # Don't allow users to override the RSC timeout.
    livy.rsc.server.idle-timeout
  livy-env.sh: |
    #
  spark-defaults.conf: |
    spark.kubernetes.namespace {{ .Release.Namespace }}
    spark.kubernetes.authenticate.driver.serviceAccountName {{ include "livy.sparkServiceAccountName" . }}
    spark.pyspark.python python3
  spark-env.sh: |
    #
